body {
    width: 100%;
    color: #000;
    -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;  
    background: rgba(33, 255, 221, 0.05);
    
}

html {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #89023E;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.landing {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-image: url('../../landing-image2.jpg');
    background-size: 100% 100%;
}

.landing .landing-body .landing-title{
    /*top: 50px;*/
 }

 .landing .landing-body .landing-description {
     font-size: 20pt;
     bottom: 50px;
     position: absolute;
     text-align: center;
     width: 100%;
 }

 /* Template */
 .weHeader{
    background-color: #3f3f3f;
    background: -webkit-linear-gradient(0, #040404, #3f3f3f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0, #040404, #3f3f3f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0,#040404, #3f3f3f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0, #040404, #3f3f3f);
    height: 10vh;
    width: 100%;
 }

  .weHeader .weHeader-navbar{
    height: 100%;
    width: 100%;
 }

.weContent{
    min-height: 70vh;
    height: auto;
    width: 90%;
    margin: 2.5% 5%;
    display: block;
    /*background-color: rgba(0, 0, 0, 0.1);*/
 }

 .weContent .weContent-section{
    min-height: 70vh;
    width: 98%;
    margin: 1%;
    display: block;
 }

  .weContent .weContent-section .weLeft-section{
    min-height: 67vh;
    width: 20%;
    margin: 1%;
    float: left;
    display: block;
    padding: 20px;
 }

 .weContent .weContent-section .weRightCenter-section{
    min-height: 67vh;
    width: 75%;
    margin: 1%;
    float: right;
    display: block;
    padding: 20px;
 }

 .weContent .weContent-section .weRight-section{
    min-height: 67vh;
    width: 20%;
    margin: 1%;
    float: right;
    display: block;
    padding: 20px;
 }

 .weContent .weContent-section .weLeftCenter-section{
    min-height: 67vh;
    width: 75%;
    margin: 1%;
    float: left;
    display: block;
    padding: 20px;
 }

.weContent .weContent-section .weCenter-section{
    min-height: 70vh;
    width: 98%;
    margin: 1%;
    display: block;
    padding: 20px;
 }

.weFooter{
     
 }

.weTitle{
    font-size: 14pt;
    font-weight: bold;
 }

.weDescription{
    font-size: 11pt;
 }

.weTitle.header{
    font-size: 14pt;
    font-weight: bold;
    padding: 2% 8%;
    color: #fff;
 }
